.modal {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  background-color: #1c1c1e;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 0px 0.75rem 0.25rem #2271d1;
}

form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
}

form div {
  margin-bottom: 10px;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input,
form textarea {
  width: 100%;
  height: auto;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  padding: 10px;
  margin-right: 10px;
  border: none;
  background-color: #28a745;
  color: white;
  cursor: pointer;
}

form button[type="button"] {
  background-color: #dc3545;
}
